
@{
    ViewBag.Title = "Dashboard";
}

<body>
    <container>
        <div class="dash">
            @*<h2>@ViewBag.Title</h2>*@

            <h3>Welcome, @User.Identity.Name</h3>

        </div>
    </container>

    <div class="questions">
    </div>
</body>