@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class = "home-background">

        <main class="home-position">
            <container class="home-container">
                <div class="home-button">
                    @Html.ActionLink("Login", "Login", "UserAccount", new { area = "" }, new { @class = "login-pill" })
                </div>
                <div class="home-button">
                    @Html.ActionLink("Register", "Register", "USerAccount", new { area = "" }, new { @class = "reg-pill" })
                </div>
            </container>


        </main>
        </div>
</body>